{% for plant in plants %}

- alias: {{plant.name}} Notification
  description: ''
  trigger:
  - platform: time
    at: '12:00:00'
  condition:
  - condition: state
    entity_id: plant.{{plant.name|lower}}
    attribute: problem
    state: moisture low
  action:
  - service: notify.mobile_app_cyoungiphone13
    data:
      data:
        actions:
        - action: URI
          title: Open Plants
          uri: /lovelace/living-room/1
        - title: Flash Lights
          action: plant_{{plant.room}}_zone_{{plant.zone|int}}
        image: https://ayglbnl4dz7z45ewsdun5rbx6b3dba2m.ui.nabu.casa/local/plants/{{plant.name}}.jpg
        subtitle: "💧 {{plant.name}} is thirsty."
      message: {{plant.name}} needs attention
      title: {{plant.name}}
  mode: single
- alias: {{plant.name}} flash lights
  description: ''
  trigger:
  - platform: event
    event_type: mobile_app_notification_action
    event_data:
      action: plant_{{plant.room}}_zone_{{plant.zone|int}}
  condition: []
  action:
  - service: script.plant_{{plant.room}}_zone_{{plant.zone|int}}_light_flash
    data: {}
  mode: single

{% endfor %}